header{
	width: 100%;
	background-color: black;
	opacity: 0.5;
	height: 100px;
}
.fa {
	font-size: 30px;
	float: left;
	margin-left: 50px;
	margin-top: 35px;
    text-decoration: none;
}
.fa:hover {
  	color: #0277bd;
  	text-decoration: none;
}
.fa-instagram {
  	color: white;
}
h1 {
	text-align: center;
	font-size: 30px;
	color: white;
	padding-top: 20px;
	margin-right: 80px;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
	text-decoration: none;
}
.subtitle {
	text-align: center;
	float: left;
	width: 100%;
}
.about {
	font-size: 10px;
	color: white;
	margin: 30px;
}
.portfolio {
	font-size: 10px;
	color: white;
	margin: 30px;
}
.about:hover {
	color: white;
	text-decoration: underline;
}
.portfolio:hover {
	color: white;
	text-decoration: underline;
}
#map {
	width: 100%;
	height: 690px;
}